In [13]:
# Import Dependencies
import pandas as pd
import numpy

In [2]:
# Load in file
file = "miami-housing.csv"

In [3]:
df = pd.read_csv(file)
df.head(10)

,LATITUDE,LONGITUDE,PARCELNO,SALE_PRC,LND_SQFOOT,TOT_LVG_AREA,SPEC_FEAT_VAL,RAIL_DIST,OCEAN_DIST,WATER_DIST,CNTR_DIST,SUBCNTR_DI,HWY_DIST,age,avno60plus,month_sold,structure_quality
0,25.891031,-80.160561,622280070620,440000.0,9375,1753,0,2815.9,12811.4,347.6,42815.3,37742.2,15954.9,67,0,8,4
1,25.891324,-80.153968,622280100460,349000.0,9375,1715,0,4359.1,10648.4,337.8,43504.9,37340.5,18125.0,63,0,9,4
2,25.891334,-80.153740,622280100470,800000.0,9375,2276,49206,4412.9,10574.1,297.1,43530.4,37328.7,18200.5,61,0,2,4
3,25.891765,-80.152657,622280100530,988000.0,12450,2058,10033,4585.0,10156.5,0.0,43797.5,37423.2,18514.4,63,0,9,4
4,25.891825,-80.154639,622280100200,755000.0,12800,1684,16681,4063.4,10836.8,326.6,43599.7,37550.8,17903.4,42,0,7,4
5,25.892060,-80.161354,622280070180,630000.0,9900,1531,2978,2391.4,13017.0,188.9,43135.1,38176.2,15687.2,41,0,2,4
6,25.892473,-80.157217,622280080100,1020000.0,10387,1753,23116,3277.4,11667.8,0.0,43598.7,37973.9,17068.2,63,0,2,5
7,25.893019,-80.157426,622280080400,850000.0,10272,1663,34933,3112.4,11718.1,10.5,43780.8,38198.3,16989.9,21,0,9,4
8,25.893046,-80.161556,622280080020,250000.0,9375,1493,11668,2081.8,13043.8,51.5,43481.7,38542.0,15623.3,56,0,3,4
9,25.893050,-80.158048,622280080370,1220000.0,13803,3077,34580,2937.7,11917.7,9.7,43730.1,38235.2,16787.0,63,0,11,5

In [4]:
df.dtypes

LATITUDE             float64
LONGITUDE            float64
PARCELNO               int64
SALE_PRC             float64
LND_SQFOOT             int64
TOT_LVG_AREA           int64
SPEC_FEAT_VAL          int64
RAIL_DIST            float64
OCEAN_DIST           float64
WATER_DIST           float64
CNTR_DIST            float64
SUBCNTR_DI           float64
HWY_DIST             float64
age                    int64
avno60plus             int64
month_sold             int64
structure_quality      int64
dtype: object

In [5]:
# Parcel number is the unique identifier for the land - dropping as not useful
df = df.drop(["PARCELNO"], axis='columns')
df.head(10)

,LATITUDE,LONGITUDE,SALE_PRC,LND_SQFOOT,TOT_LVG_AREA,SPEC_FEAT_VAL,RAIL_DIST,OCEAN_DIST,WATER_DIST,CNTR_DIST,SUBCNTR_DI,HWY_DIST,age,avno60plus,month_sold,structure_quality
0,25.891031,-80.160561,440000.0,9375,1753,0,2815.9,12811.4,347.6,42815.3,37742.2,15954.9,67,0,8,4
1,25.891324,-80.153968,349000.0,9375,1715,0,4359.1,10648.4,337.8,43504.9,37340.5,18125.0,63,0,9,4
2,25.891334,-80.153740,800000.0,9375,2276,49206,4412.9,10574.1,297.1,43530.4,37328.7,18200.5,61,0,2,4
3,25.891765,-80.152657,988000.0,12450,2058,10033,4585.0,10156.5,0.0,43797.5,37423.2,18514.4,63,0,9,4
4,25.891825,-80.154639,755000.0,12800,1684,16681,4063.4,10836.8,326.6,43599.7,37550.8,17903.4,42,0,7,4
5,25.892060,-80.161354,630000.0,9900,1531,2978,2391.4,13017.0,188.9,43135.1,38176.2,15687.2,41,0,2,4
6,25.892473,-80.157217,1020000.0,10387,1753,23116,3277.4,11667.8,0.0,43598.7,37973.9,17068.2,63,0,2,5
7,25.893019,-80.157426,850000.0,10272,1663,34933,3112.4,11718.1,10.5,43780.8,38198.3,16989.9,21,0,9,4
8,25.893046,-80.161556,250000.0,9375,1493,11668,2081.8,13043.8,51.5,43481.7,38542.0,15623.3,56,0,3,4
9,25.893050,-80.158048,1220000.0,13803,3077,34580,2937.7,11917.7,9.7,43730.1,38235.2,16787.0,63,0,11,5

In [6]:
# The dataset says avno60plus is a dummy variable for airplane noise exceeding an acceptable level
df['avno60plus'].describe()

count    13932.000000
mean         0.014930
std          0.121276
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: avno60plus, dtype: float64

In [7]:
# The column has 1 if airplane noise exceeds an acceptable level
df['avno60plus'].value_counts()

0    13724
1      208
Name: avno60plus, dtype: int64

In [8]:
# Long and Lat should be binned - checking the LATITUDE spread
df['LATITUDE'].describe()

count    13932.000000
mean        25.728811
std          0.140633
min         25.434333
25%         25.620056
50%         25.731810
75%         25.852269
max         25.974382
Name: LATITUDE, dtype: float64

In [15]:
# Create 8 bins, spaced evenly
# get maximum lat, min lat
max_lat = df['LATITUDE'].max()
min_lat = df['LATITUDE'].min()
# get the difference and divide by the number of bins
lat_spacing = (max_lat - min_lat)/8
lat_bins = [1,2,3,4,5,6,7,8]

#build bins
bins = []
for x in numpy.arange(min_lat, max_lat, lat_spacing):
    bins.append(x)

bins.append(max_lat)
bins

[25.4343333738,
 25.5018394354125,
 25.569345497024997,
 25.636851558637495,
 25.704357620249993,
 25.77186368186249,
 25.83936974347499,
 25.906875805087488,
 25.9743818667]

In [16]:
df["latitude_group"] = pd.cut(df["LATITUDE"], bins, labels=lat_bins)
df["latitude_group"].value_counts()

5    3009
7    2023
3    1992
8    1859
4    1816
2    1165
6    1155
1     912
Name: latitude_group, dtype: int64

In [17]:
# Long and Lat should be binned - checking the LONGITUDE spread
df['LONGITUDE'].describe()

count    13932.000000
mean       -80.327475
std          0.089199
min        -80.542172
25%        -80.403278
50%        -80.338911
75%        -80.258019
max        -80.119746
Name: LONGITUDE, dtype: float64

In [23]:
# Create 8 bins, spaced evenly
# get maximum long, min long
max_long = df['LONGITUDE'].max()
min_long = df['LONGITUDE'].min()
# get the difference and divide by the number of bins
long_spacing = (max_long - min_long)/8
long_bins = [1,2,3,4,5,6,7,8]

#build bins
bins = []
for x in numpy.arange(min_long, max_long, long_spacing):
    bins.append(x)

bins.append(max_long)
bins

[-80.5421721039,
 -80.48936888965,
 -80.43656567539999,
 -80.38376246114998,
 -80.33095924689998,
 -80.27815603264997,
 -80.22535281839997,
 -80.17254960414996,
 -80.1197463899]

In [24]:
df["longitude_group"] = pd.cut(df["LONGITUDE"], bins, labels=long_bins)
df["longitude_group"].value_counts()

4    3138
3    2821
5    2141
6    1961
7    1777
2    1391
8     581
1     121
Name: longitude_group, dtype: int64

In [25]:
df

,LATITUDE,LONGITUDE,SALE_PRC,LND_SQFOOT,TOT_LVG_AREA,SPEC_FEAT_VAL,RAIL_DIST,OCEAN_DIST,WATER_DIST,CNTR_DIST,SUBCNTR_DI,HWY_DIST,age,avno60plus,month_sold,structure_quality,latitude_group,longitude_group
0,25.891031,-80.160561,440000.0,9375,1753,0,2815.9,12811.4,347.6,42815.3,37742.2,15954.9,67,0,8,4,7,8
1,25.891324,-80.153968,349000.0,9375,1715,0,4359.1,10648.4,337.8,43504.9,37340.5,18125.0,63,0,9,4,7,8
2,25.891334,-80.153740,800000.0,9375,2276,49206,4412.9,10574.1,297.1,43530.4,37328.7,18200.5,61,0,2,4,7,8
3,25.891765,-80.152657,988000.0,12450,2058,10033,4585.0,10156.5,0.0,43797.5,37423.2,18514.4,63,0,9,4,7,8
4,25.891825,-80.154639,755000.0,12800,1684,16681,4063.4,10836.8,326.6,43599.7,37550.8,17903.4,42,0,7,4,7,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13927,25.783130,-80.259795,275000.0,6780,967,6580,3844.5,20568.0,3252.4,22175.9,12150.1,917.4,16,0,4,4,6,6
13928,25.783585,-80.260354,340000.0,7500,1854,2544,3593.6,20791.9,3077.7,22375.1,12316.8,738.2,26,0,5,4,6,6
13929,25.783793,-80.256126,287500.0,8460,1271,2064,4143.2,20307.9,3588.4,20966.9,12433.0,743.7,16,0,7,4,6,6
13930,25.784007,-80.257542,315000.0,7500,1613,3136,3986.9,20542.6,3589.1,21475.6,12458.0,626.1,16,0,8,4,6,6
13931,25.784387,-80.258901,250000.0,8833,1867,266,3793.9,20859.6,3421.0,21928.6,12599.0,474.7,62,0,11,4,6,6